* {
	box-sizing: border-box;
	font-family: "raleway", sans-serif;
}

/* Hero Section Styles*/
#hero {
	position: relative;
	height: 100vh;
	width: 100;
	overflow: hidden;
	justify-content: center;
	min-width: 100%;
	max-width: 100%;
	border: none;
	border-radius: 0%;
	background-color: black;
}
#hero-text {
	color: white;
	text-align: center;
	transform: translateX(50%), translateY(50%);
	top: 40%;
}
video {
	opacity: 0.6;
}

/* Media Queries*/
@media screen and (max-width: 530px) {
	#hero-text {
		color: white;
		position: absolute;
		top: 30%;
		text-align: center;
	}
	.locations {
		padding-top: 10%;
	}
}
@media screen and (max-width: 350px) {
	#hero-text {
		color: white;
		position: absolute;
		top: 35%;
		text-align: center;
	}
	.locations {
		padding-top: 10%;
	}
	#hero {
		height: 100vh;
	}
}
@media screen and (max-width: 770px) {
	.features {
		text-align: center;
	}
	.locations {
		padding-top: 10%;
	}
	#hero {
		height: 100vh;
	}
	.about-icons {
		width: 50%;
		height: 50%;
	}
	.featurette-image {
		width: 65%;
	}
}

/* Nav & Logo Section Styles*/
#nav,
#logo-text,
#nav-text {
	background-color: white;
	color: black;
}
#nav-text:hover {
	color: rgb(144, 209, 224);
	font-weight: bolder;
}
/* Feature Section Styles*/
.features {
	padding: 20px;
	background-color: rgb(144, 209, 224);
	justify-content: center;
	align-items: center;
}
.featurette-image {
	align-content: flex-end;
}
/*.feature-image-left {
	float: inline-start;
}
.feature-image-right {
	float: inline-end;
}*/

/* About Section Styles*/
.about {
	padding-left: 10%;
	padding-right: 10%;
	column-gap: 10%;
}
/* Footer Section Styles*/
footer {
	background-color: rgb(127, 210, 228);
}
/* Locations Section Styles*/
.locations {
	padding-top: 3%;
	color: white;
}
